DEVELOPER_NAME = ""
APP_VERSION = "0.1"
APP_NAME = "multi-modal-rag"

FILE_MAXIMUM_SIZE = 100 # 100 MB
FILE_ALLOWED_TYPES = [
    "text/plain" ,
    "application/pdf",
    "image/jpeg",
    "image/png",
    "image/jpg"
]

FILE_CHUNK_SIZE = 512000