DEVELOPER_NAME = ""
APP_VERSION = "0.1"
APP_NAME = "multi-modal-rag"

FILE_MAXIMUM_SIZE = 100000
FILE_ALLOWED_TYPES = [
    "text/plain",
    "application/pdf",

    "image/jpeg",
    "image/png",
    "image/jpg",

    "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
    "application/vnd.openxmlformats-officedocument.presentationml.presentation",
]

FILE_CHUNK_SIZE = 512000

################################################################################################

POSTGRES_USERNAME=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_PORT=
POSTGRES_MAIN_DATABASE=""