fastapi==0.110.2
uvicorn[standard]==0.29.0
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic-settings==2.2.1
aiofiles==23.2.1

motor==3.7.1

langchain
langchain-community
langchain-text-splitters
PyMuPDF
paddlepaddle
paddleocr
docling
python-docx
python-pptx

openai==2.45.0
cohere==7.0.5

qdrant-client

SQLAlchemy==2.0.41
asyncpg
alembic
psycopg2-binary
pgvector==0.5.0

nltk==3.10.2